

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Games', sans-serif;
                                                
}

body{
    background: linear-gradient(37deg, #6a11cb, #6588c6);
    color: #ffffff
}

.top{
    display: flex;
    align-items: center;
    justify-content: center;flex-direction: column;
}
.top button{
    align-self: flex-start;
    margin-top: 10px;
    margin-left: 10px;
    padding: 10px;
    border-radius: 10px;
}

.top button:hover{
    background-color: black;
    color: white;
    transition: 0.6s;
    scale: 1.2;
}

h1{
    font-size: 80px;
    color: rgb(199, 254, 0);
    margin-top: -40px;
    margin-bottom: 50px;
}

.players{
    display: flex;
    justify-content: center;
    gap: 140px;
    
}

h2, p{
    font-size: 35px;
    text-align: center;
}

p{
    margin-top: 30px;
    border-top: 2px solid rgb(255, 255, 255);
}

button{
    padding: 15px;
    border-radius: 10px;
    font-size: 20px;
}

button:hover{
    background-color: black;
    color: white;
    transition: 0.4s;
    scale: 1.1;
}

.footer{
    display: flex;
    justify-content: space-around;align-items: center;
    margin-top: 30px;
}
img{
    width: 120px;
    height: 120px;
    animation: rollDice 0.4s ease-in-out;
}



@keyframes rollDice {
    0% {
        transform: rotateX(0deg) rotateY(0deg);
    }
    25% {
        transform: rotateX(180deg) rotateY(90deg);
    }
    50% {
        transform: rotateX(0deg) rotateY(180deg);
    }
    75% {
        transform: rotateX(90deg) rotateY(270deg);
    }
    100% {
        transform: rotateX(360deg) rotateY(360deg);
    }
}


.turnn {
    background-color: rgba(255, 255, 255, 0.1);
    width: 30%;
    animation: turner 2s ease-in-out forwards infinite;
}


@keyframes turner {
    0% {
        
        transform: scale(1);
    }
    50% {
               transform: scale(1.1);
    }
    100% {
        
        transform: scale(1);
    }
}



.resultt {
    height: 20vh;
    width: 80vw;
    background-color: rgb(45, 143, 0);
    color: rgb(255, 255, 255);
    position: fixed;
    top: 10%; 
    left: 10%;
    display: none; 
    text-align: center;
    font-size: 2em;
    padding-top: 30px;
    z-index: 100;
    border-radius: 10px;
    animation: ress 2s ease-in-out forwards;
}


@keyframes ress {
    0% {
        
        transform: scale(0);
    }
    50% {
               transform: scale(1.2);
    }
    100% {
        
        transform: scale(1);
    }
}




/* Media Query */
@media only screen and (max-width: 768px){
    h1{
        text-align: center;
        margin-top: 15px;
        font-size: 40px;
    }
    .top button{
        align-self: center;
    }

    .players{
        margin-left: 5px;
        margin-right: 5px;
        gap: 80px;
    }
    h2, p{
        font-size: 30px;
    }

    img{
        width: 110px;
        height: 110px;
    }

}

